

/* <div class="content"> */
.content{
    max-width: 800px;
    margin: 0 auto;
}

/* <form action="" class="form__top">
    <div class="form__input">
        <input type="text" class="form__input__box">
    </div>
    <div class="form__button">
        <button class="form__button__submit">
            作成
        </button>
    </div>
</form> */

.form__top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 70px 50px 50px 50px;
    width: 100%;
}

.form__input {
    flex: 7;
    /* 全体の70%を占める */
    max-width: 70%;
    /* 必要なら最大幅を制限 */
}

.form__button {
    flex: 2;
    /* 全体の20%を占める */
    max-width: 20%;
    /* 必要なら最大幅を制限 */
}

.form__input__box {
    height: 40px;
    width: 100%;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
}

.form__button__submit {
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* <div class="todo__list__ttl">
    <p>
        Todo
    </p>
</div> */

form.todo__list__table{
    width: 50%;
}

p {
    all: unset;
}

.todo__list__ttl{
    width: 100%;
    padding: 0px 50px 15px 50px;
    margin-left: 15px;
}

.todo__list__ttl, p {
    font-size: 20px;
    font-weight: bold;
}

/* <div class="todo__list__table__wrapper">
    <table class="todo__list__table">
        @foreach ($todos as $todo)
        <tr>
            <th>
                <form action="/todos/update" class="todo__list__update" method="POST">
                    @method('PATCH')
                    @csrf
                    <input class="todo__input__form" type="text" name="content" value="{{ $todo['content'] }}">
                    <input type="hidden" name="id" value="{{ $todo['id'] }}">
                    <button class="todo__update__button" type="submit">
                        更新
                    </button>
                </form>
            </th>
            <th>
                <form action="/todos/delete" class="form__list__delete" method="POST">
                    @method('DELETE')
                    @csrf
                    <input type="hidden" name="id" value="{{ $todo['id'] }}">
                    <button class="todo__delete__button" type="submit">
                        削除
                    </button>
                </form>
            </th>
        </tr>
        @endforeach
    </table>
</div> */

.todo__list__update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.todo__list__table__wrapper{
width: 100%;
    padding: 0px 60px 10px 0px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table.todo__list__table{
    width: 100%;

}

tbody {
    text-align: center;
    padding: 0 0 0 60px;

ul {
    margin: 0;
    /* デフォルトの外側の余白をリセット */
    padding: 0;
    /* デフォルトの内側の余白をリセット */
    list-style: none;
    /* 箇条書きの点や番号を消す */
}

table.todo__list__table{
    width: 600px;
}

.todo__list__table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

tr, th {

    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    padding: 10px 5px 10px 10px;
    margin: 0 auto;
}

/* th:nth-of-type(1){
    width: 100px;
} */

.todo__input__form{
    border: none;
    /* background-color: #505050; */
    width: 80%;
    margin: 0 10px 0 0;
    font-size: 16px;
}


/* ボタンの仕様 */
.todo__update__button {
    background-color: rgb(8, 0, 255);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px 12px;
    font-size: 13px;
    margin-left: 40px;
    width: 50px;
}

.todo__delete__button {
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px 12px;
    font-size: 13px;
    width: 50px;
}



/* .button{
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #D5D5D5;
    background-image: linear-gradient(#EEE, #DDD);
    font: 700 13px/18px Helvetica, arial;
}

.button--todo-update{
    color: #FFF;
        background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
        border-color: #4A993E;
} */

.todo__alert--success{
    background-color: rgb(180, 224, 255);
    font-size: 18px;
    padding: 0 0 0 40px;
}

.todo__alert--danger {
    background-color: rgb(255, 188, 174);
        font-size: 18px;
        padding: 0 0 0 40px;
}